.header{
    display:flex;
    flex-direction: row;
justify-content: space-around;
align-items: center;
position: fixed;
top:0;
left:0;
right: 0;
height: 50px;
border-bottom: 1px solid rgba(163, 161, 161, 0.36);
background-color: white;
z-index:100;

}
.left{
   display: flex;
   padding-left: 100px;
   margin-right: 100px;
  

}
.left input{
    background-color: rgb(227, 248, 246);
    width: 200px;
    border: solid 1px rgba(233, 226, 226, 0.36);
    transition:width 1s;
}
.left input:hover{
    width:300px;
}
.shicon{
   width:30px;
    background-color: rgb(227, 248, 246);
}
.lnicon{
width: 30px;
margin-right: 20px;
}

.micon,.home{
    width:26px;
    padding: 19px;
    cursor: pointer;
}
.middle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nnicon{
    position: relative;
    cursor: pointer;
}
.notification{
    position: absolute;
    top: 11px;
    right: 6px;
    background-color: rgb(247, 14, 14);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 22px;
    border: solid 2px rgb(245, 242, 242);

}
.right{
    border-left: 1px solid rgba(210, 206, 206, 0.36);
    width: 160px;
    height: 63px;
    display: flex;
    align-items: center;
    margin-right: 200px;
}


